<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>try Vue.js</title>

    <style media="screen">
      .box {
        border: 1px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .large {
        width: 40vw;
        height: 40vh;
        margin: 40px 30vw;
      }
      .small {
        width: 20vw;
        height: 10vh;
        margin: 20px 40vw;
      }
    </style>
  </head>
  <body>

    <div id="card">
      <header>
        {{ title }}
      </header>
      <div>
        <input id="itemForm" v-model="input" v-on:keypress.enter="addItem"/>
        <button v-on:click="addItem">{{buttonText}}</button>
      </div>

      <template v-if="items.length">
        <h4>
          Item list
        </h4>
        <ul>
          <li v-for="(item, index) in items">
            <button v-on:click="removeItem(index)">X</button>
            <a :href="item.text | lowercase | url">{{ item.text | capitalise}}</a>
          </li>
        </ul>
        <ul>
          <li>Total {{totalRows}}</li>
        </ul>
      </template>
      <p v-else>No items in list</p>

      <form>
        <label>
          <input type="checkbox" v-model="isLarge"> Large
        </label>
      </form>

      <div class='box'
        :class="isLarge ? 'large' : 'small'">
        Extra Div
      </div>

    </div>

    <script src="3party/vue.js"></script>
    <script src="3party/lodash.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
