<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>try Vue.js</title>

    <style media="screen">
      .box {
        border: 1px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .large {
        width: 40vw;
        height: 40vh;
        margin: 40px 30vw;
      }
      .small {
        width: 20vw;
        height: 10vh;
        margin: 20px 40vw;
      }
    </style>
  </head>
  <body>

    <div id="card">
      <header>
        {{ title }}
      </header>
      <form v-on:submit.prevent="addItem">
        <input v-model="input"/>
        <button>{{buttonText}}</button>
      </form>

      <template v-if="items.length > 0">
        <h4>
          Item list
        </h4>
        <ul>
          <list-item v-for="(item, index) in items"
            :text="item.text"
            :index="index"
            v-on:remove-item="removeItem"></list-item>
        </ul>
        <ul>
          <li>Total {{totalRows}}</li>
        </ul>
      </template>
      
      <p v-else>No items in list</p>
      <hr>
      <template v-for="item in items">
        <label>
          <input type="radio" :value="item.text" v-model="chosenItem">
          {{item.text}}
        </label>
      </template><br>
      <span>Selected: {{chosenItem}}</span>

      <hr>
      <form>
        <label>
          <input type="checkbox" v-model="isLarge"> Large
        </label>
      </form>

      <div class='box'
        :class="isLarge ? 'large' : 'small'">
        Extra Div
      </div>

    </div>

    <script type="text/x-template" id="list-item">
      <li>
        <button v-on:click="removeItem()">X</button>
        <a :href="text | lowercase | url">{{ text | capitalise}}</a>
      </li>
    </script>

    <script src="3party/vue.js"></script>
    <script src="3party/lodash.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
